* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: black;
    color: white;
    overflow: hidden;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content h1 {
    font-size: 64px;
}

#graph {
    position: fixed;
}
